{% extends "lab_8/layout/base.html" %}
{% block content %}
<section>
  <center>
    <div class="container">
      <div class="row">
        <h2> Fakebook </h2>
        <button class="login" onclick="facebookLogin()">Login with Facebook</button>
        <div id="lab8"></div>
      </div>
    </div>
  </center>
</section>	
{% endblock %}
